:root {
  --font-color-hed: #212121;
  --font-color-text: #757575;
  --font-family: "Roboto", sans-serif;
  --brand-color-first: #2196f3;
  --brand-color-second: #2f303a;
}
body {
  margin: 0;
  background-color: #f5f5f5;
  font-family: var(--font-family);
  color: var(--font-color);
}

/* Стилі ХЕДЕРУ*/
.logo,
.logo-web {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo {
  color: var(--font-color-hed);
}
.logo-web {
  color: var(--brand-color-first);
}
.navigation-item {
  list-style-type: none;
}
.navigation-item > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--font-color-hed);
}
.navigation-item > a:hover {
  color: var(--brand-color-first);
}
.navigation-item > a:focus {
  color: var(--brand-color-first);
}
.contacts-item {
  list-style-type: none;
}
.contacts-item > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--font-color-text);
}
.contacts-item > a:hover {
  color: var(--brand-color-first);
}
.contacts-item > a:focus {
  color: var(--brand-color-first);
}

/*Стилі секції ГЕРОЯ*/
.hero {
  background-color: var(--brand-color-second);
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button {
  cursor: pointer;
  background-color: var(--brand-color-first);
  padding: 10px 32px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/*Стилі секції ОСНОВНІ ІДЕЇ*/
.main-ideas-item {
  list-style-type: none;
}
.main-ideas-item > h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--font-color-hed);
}
.main-ideas-item > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--font-color-text);
}

/*Стилі секції ПРИКЛАДИ РОБІТ*/
.main-works > h2,
.our-team > h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color-hed);
}
.works-list-item {
  list-style-type: none;
}

/*Стилі секції НАША КОМАНДА*/
.our-team {
  background-color: #f5f4fa;
}
.team-list-item {
  list-style-type: none;
}
.team-list-item > h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color-hed);
}
.team-list-item > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-color-text);
}

/*Стилі секції ФУТЕРУ*/
.page-footer {
  background-color: var(--brand-color-second);
}
.page-footer .logo {
  color: #ffffff;
}
.address-list-item {
  list-style-type: none;
}
.address-list-item > a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-list-item > a:hover {
  color: var(--brand-color-first);
}
.address-list-item > a:focus {
  color: var(--brand-color-first);
}
.address-list-item > .post-address {
  color: #ffffff;
}
