/*ПЕРЕМІННІ*/

:root {
  --font-family: "Roboto", sans-serif;
  --font-color-hed: #212121;
  --font-color-text: #757575;
  --brand-color-first: #2196f3;
  --brand-color-second: #2f303a;
  --background-color: #ffffff;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-time: 250ms;
}

/*Загальні стилі*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--font-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}
/* Приховані заголовки */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Стилі ХЕДЕРУ*/

.header-container,
.main-navigation,
.navigation,
.contacts {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid #ececec;
}
.logo,
.logo-web {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo {
  margin-right: 93px;
  color: var(--font-color-hed);
}
.logo-web {
  color: var(--brand-color-first);
}
/* .navigation {
} */
.navigation-item {
  position: relative;
}
.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-item > a {
  display: block;
  padding: 25px 0;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--font-color-hed);
  transition: color var(--animation-time) var(--timing-function);
}
.navigation-item > a:hover {
  color: var(--brand-color-first);
}
.navigation-item > a:focus {
  color: var(--brand-color-first);
}
.navigation-item > a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--brand-color-first);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform var(--animation-time) var(--timing-function);
}
.navigation-item > a:hover::after {
  transform: scaleX(1);
}
.navigation-item > a:focus::after {
  transform: scaleX(1);
}
.navigation-item > .current-page {
  color: var(--brand-color-first);
}
.navigation-item > .current-page::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--brand-color-first);
  border-radius: 2px;
  transform: none;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contacts-item {
  transition: currentColor var(--animation-time) var(--timing-function);
}
.contacts-item:nth-child(1) {
  margin-right: 50px;
}
.contacts-item > a {
  display: flex;
  align-items: center;
  padding: 25px 0;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--font-color-text);
  transition: color var(--animation-time) var(--timing-function);
}
.contacts-item > a:hover {
  color: var(--brand-color-first);
}
.contacts-item > a:focus {
  color: var(--brand-color-first);
}
.contact-icon {
  margin-right: 10px;
  fill: currentColor;
  stroke: currentColor;
  /* transition: color var(--animation-time) var(--timing-function); */
}
.contacts-item > a:hover .contact-icon {
  fill: var(--brand-color-first);
  stroke: var(--brand-color-first);
}
.contact-icon:focus .contact-icon {
  fill: var(--brand-color-first);
  stroke: var(--brand-color-first);
}
/*Стилі секції ГЕРОЯ*/

.hero {
  padding: 200px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-cover.jpg");
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--brand-color-second);
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 30px;
}
.hero-button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  cursor: pointer;
  background-color: var(--brand-color-first);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--background-color);
  border: none;
  border-radius: 4px;
  transition: background-color var(--animation-time) var(--timing-function);
}
.hero-button:hover {
  background-color: #188ce8;
}
.hero-button:active {
  background-color: #188ce8;
}

/*Стилі секції ОСНОВНІ ІДЕЇ*/

.main-ideas-list {
  display: flex;
}
.main-ideas-item {
  width: calc((100% - 90px) / 4);
}
.ideas-icon-wraper {
  display: flex;
  justify-content: center;
  padding: 25px 0;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.main-ideas-item:not(:last-child) {
  margin-right: 30px;
}
.main-ideas-item > h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--font-color-hed);
}
.main-ideas-item > p {
  line-height: 1.71;
  color: var(--font-color-text);
}

/*Стилі секції ПРИКЛАДИ РОБІТ*/

.main-works {
  padding-top: 0;
}
.works-list {
  display: flex;
  flex-flow: row wrap;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--font-color-hed);
}
.works-list-item {
  position: relative;
  width: calc((100% / 3) - 30px);
}
.works-list-item:not(:last-child) {
  margin-right: 30px;
}
.overlay-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--background-color);
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
}
/*Стилі секції НАША КОМАНДА*/

.our-team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  flex-flow: row wrap;
}
.team-list-item {
  width: calc((100% / 4) - 30px);
  list-style-type: none;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-card {
  padding: 30px 0;
}
.team-list-item h3 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--font-color-hed);
}
.team-list-item p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--font-color-text);
}
.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.social-link > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-color);
  transition: background-color var(--animation-time) var(--timing-function);
}
.social-link > a:hover {
  background-color: var(--brand-color-first);
}
.social-link > a:focus {
  background-color: var(--brand-color-first);
}
.social-link:not(:last-child) {
  margin-right: 10px;
}
.social-icon {
  fill: var(--icon-color);
  transition: fill var(--animation-time) var(--timing-function);
}
.social-link > a:hover .social-icon {
  fill: var(--background-color);
}
.social-link > a:focus .social-icon {
  fill: var(--background-color);
}

/* Секція наші клієнти */
.clients-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.client-list-item:not(:last-child) {
  margin-right: 30px;
}
.client-list-item > a {
  display: flex;
  padding: 15px 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
}
.client-icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--timing-function);
}
.client-list-item > a:hover {
  border-color: var(--brand-color-first);
}
.client-list-item > a:focus {
  border-color: var(--brand-color-first);
}
.client-list-item > a:hover .client-icon {
  fill: var(--brand-color-first);
}
.client-list-item > a:focus .client-icon {
  fill: var(--brand-color-first);
}

/*Стилі секції ФУТЕРУ*/
.page-footer {
  padding: 60px 0;
  background-color: var(--brand-color-second);
}
.footer-wraper {
  display: flex;
  align-items: baseline;
}
.footer-container {
  display: inline-block;
  margin-right: 70px;
  vertical-align: top;
}
.page-footer .logo {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
  color: var(--background-color);
}
/* .address-list {
} */
/* .address-list-item {
} */
.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-list-item > a {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation-time) var(--timing-function);
}
.address-list-item > a:hover {
  color: var(--brand-color-first);
}
.address-list-item > a:focus {
  color: var(--brand-color-first);
}
.address-list-item > .post-address {
  color: var(--background-color);
}
.links-footer {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--background-color);
}
.footer-link > a {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-icon {
  fill: var(--background-color);
}

.mail-form-wraper {
  display: inline-block;
  margin-left: auto;
}
.mail-form > p {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--background-color);
}
.email-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: transparent;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
/* .email-input:active {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: transparent;
} */

/* .email-input:not(:placeholder-shown):required:valid {
  border-color: green;
}

.email-input:not(:placeholder-shown):required:invalid {
  border: 1px solid red;
} */
.button-label {
  margin-right: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--background-color);
}
.email-submit-button {
  display: inline-flex;
  padding: 10px 28px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: var(--brand-color-first);
}
.email-submit-button:hover {
  background-color: #188ce8;
}
.email-submit-button:active {
  background-color: #188ce8;
}
.form-submit-icon {
  fill: var(--background-color);
}

/*СТОРІНКА ПОРТФОЛІО*/

/*Стилі КНОПОК*/
.portfolio {
  padding: 94px 0;
}
.filter-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-buttons > li {
  list-style-type: none;
}
.filter-button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--font-color-hed);
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: color var(--animation-time) var(--timing-function),
    background-color var(--animation-time) var(--timing-function),
    box-shadow var(--animation-time) var(--timing-function);
}
.filter-button:hover {
  color: var(--background-color);
  background-color: var(--brand-color-first);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-button:focus {
  color: var(--background-color);
  background-color: var(--brand-color-first);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-buttons > li:not(:last-child) {
  margin-right: 8px;
}

/*Стилі ПОРТФОЛІО*/

.portfolio-samples {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
}
.portfolio-item {
  background-color: var(--background-color);
}
.card-container {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}
.portfolio-item > a {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--animation-time) var(--timing-function);
}
.portfolio-item > a:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item > a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item h2 {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--font-color-hed);
}
.portfolio-item p {
  font-size: 16px;
  line-height: 1.87;
  color: var(--font-color-text);
}
.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-item-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: transform var(--animation-time) var(--timing-function),
    opacity var(--animation-time) var(--timing-function);
}
.portfolio-item-overlay > p {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--background-color);
}
.portfolio-item > a:hover .portfolio-item-overlay {
  transform: translateY(-100%);
  opacity: 1;
}
.portfolio-item > a:focus .portfolio-item-overlay {
  transform: translateY(-100%);
  opacity: 1;
}

/* Стилі модального вікна */
.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  transition: opacity var(--animation-time) var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 33%;
  min-height: 581px;
  padding: 40px;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: scale var(--animation-time) var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  /* margin: 8px 8px 0 auto; */
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  transition: borber-color var(--animation-time) var(--timing-function);
}
.close-button:hover,
:focus {
  border-color: #000;
}
.close-icon {
  fill: #000;
}
.modal > p {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.input-area {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px
}
.input-area:active {
  border: 1px solid #2196F3;
}
.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}
.input-area > input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
}
.input-area > span {
  font-size: 12px;
  line-height: 1.17;
  color: var(--font-color-text);
  margin-bottom: 4px;
}
.input-area > textarea {
  height: 120px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.input-checkbox {

}