// Форма розсилки почти

.mail-form {
  @media screen and (max-width: getPoint("tablet")) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 769px) {
    display: inline-block;
    margin-left: auto;
    padding-top: 10px;
  }
}

.mail-form__label {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  color: getColor("background-color");
}

.mail-form__input {
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: transparent;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (max-width: getPoint("tablet")) {
    max-width: 450px;
    width: 100%;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 769px) {
    width: 358px;
    margin-right: 12px;
  }
}

// Форма замовлення

.sale-form__input-area {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &:focus-within > .sale-form__icon {
    fill: getColor("brand-color-first");
  }
}

.sale-form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: getColor("font-color-hed");
  transition: fill $animation-time $timing-function;
}

.sale-form__input {
  height: 40px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: 0;
  transition: border-color $animation-time $timing-function;

  &:focus-within {
    border-color: getColor("brand-color-first");
  }
}

.sale-form__label {
  font-size: 12px;
  line-height: 1.17;
  color: getColor("font-color-text");
  margin-bottom: 4px;
}

.sale-form__textarea {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 0;
  transition: border-color $animation-time $timing-function;

  &:focus-within {
    border-color: getColor("brand-color-first");
  }
}

.sale-form__checkbox-area {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.7;
  color: getColor("font-color-text");
  margin-bottom: 30px;
}

.sale-form__checkbox-cont {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid;
  border-color: #000;
  border-radius: 2px;
  box-sizing: border-box;
  transition: border-color $animation-time $timing-function;
}

.sale-form__checkbox:checked ~ .sale-form__checkbox-cont {
  border-color: transparent;
}

.sale-form__checkbox-icon {
  position: absolute;
  opacity: 0;
  transition: opacity $animation-time $timing-function;
}

.sale-form__checkbox:checked + .sale-form__checkbox-icon {
  opacity: 1;
}

.sale-form__checkbox-link {
  margin-left: 7px;
  color: getColor("brand-color-first");
  padding: 0;
}
