/*Загальні стилі*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: getColor("background-color");
  font-family: $font-family;
  color: getColor("font-color-text");
  font-size: getFonts("font-size");
  letter-spacing: getFonts("letter-spacing");
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (max-width: getPoint("phone")) {
    width: getPoint("phone");
  }
  @media screen and (min-width: 481px) and (max-width: getPoint("tablet")) {
    width: getPoint("tablet");
  }
  @media screen and (min-width: getPoint("tablet")) {
    max-width: getPoint("desktop");
  }
}

.section {
  @media screen and (max-width: getPoint("tablet")) {
    padding: 60px 0;
  }
  @media screen and (min-width: getPoint("tablet")) {
    padding: 94px 0;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: getColor("font-color-hed");

  @media screen and (max-width: getPoint("tablet")) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: getPoint("tablet")) {
    margin-bottom: 50px;
  }
}

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
