// Стилі секції ОСНОВНІ ІДЕЇ

.icon-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 25px 0;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.ideas__list {
  
  @media screen and (min-width: 481px) and (max-width: getPoint("tablet")) {
    display: flex;
    flex-flow: row wrap;
  }

  @media screen and (min-width: 769px) {
    display: flex;
  }
}

.ideas__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media screen and (max-width: getPoint("phone")) {
    width: 100%;
    align-items: center;
  }

  @media screen and (min-width: 481px) and (max-width: getPoint("tablet")) {
    width: calc((100% - 30px) / 2);
    &:nth-child(2n) {
      margin-left: 30px;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 769px) {
    width: calc((100% - 90px) / 4);
    &:not(:last-child) {
      margin-right: 30px;
    }
    margin-bottom: 0;
  }
}

.ideas__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: getColor("font-color-hed");
}

.ideas__text {
  line-height: 1.71;
  color: getColor("font-color-text");
}
