// Стилі секції ФУТЕРУ

.page-footer {
  padding: 60px 0;
  background-color: getColor("brand-color-second");
}

.footer-wraper {
  @media screen and (min-width: getPoint("tablet")) {
    display: flex;
  }
}

.footer-cotacts-container {
  @media screen and (max-width: getPoint("phone")) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 481px) and (max-width: getPoint("tablet")) {
    display: flex;
    justify-content: space-between;
    margin: 0 80px 60px 80px;
  }

  @media screen and (min-width: getPoint("tablet")) {
    display: flex;
    align-items: baseline;
  }
}

.footer-container {
  display: flex;

  @media screen and (max-width: getPoint("phone")) {
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: 481px) and (max-width: getPoint("tablet")) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: getPoint("tablet")) {
    display: inline-block;
    margin-right: 70px;
    vertical-align: top;
  }
}

.page-footer__logo {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0;
  color: getColor("background-color");
}

.address-list {
  @media screen and (max-width: getPoint("tablet")) {
    text-align: center;
  }

  @media screen and (min-width: getPoint("tablet")) {
    text-align: left;
  }
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color $animation-time $timing-function;

  &:hover,
  &:focus {
    color: getColor("brand-color-first");
  }
  &--inverse {
    color: getColor("background-color");
  }
}

.footer-links__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: getColor("background-color");
}
